body {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    box-sizing: border-box;
    height: fit-content;
}

h1 {
    font-size: 45px;
}

.w {
    color: #FFD0EC;
}

.rr {
    margin-top: 5px;
    color: #FFD0EC;
}

h1,
li,
a {
    font-style: oblique;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    margin-top: 30px;
}

.recipe {
    margin-top: 0;
}

a {
    font-size: 26px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 5px solid #FFD0EC;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    text-decoration: none;
}

a:hover {
    border: 5px solid #474F7A;
    background-color: #FFD0EC;
    color: #1F2544;
}

.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.25%;
}

ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    list-style: none;
    
}

li {
    width: 13%;
    margin: 0 40px;
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.mid {
    width: 80%;
    -webkit-box-shadow: 0px -4px 18px 2px rgba(129,104,157,0.82); 
    box-shadow: 0px -4px 18px 2px rgba(129,104,157,0.82);
    -webkit-border-radius: 28px;
    border-radius: 28px;
    margin-top: 20px;
}